.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #FFF;
  background: url(../../../images/pencil.png) center no-repeat;
  margin: 10px 0 0 20px;
  opacity: 1;
  transition: opacity 0.3s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 730px) {
  .profile__edit-button {
    margin: 0 0 0 10px;
  }
}

@media screen and (max-width: 500px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}