.popup__save-button_disabled {
  background-color: transparent;
  border: 1px solid #C4C4C4;;
  color: #C4C4C4;
  cursor: default;
}

.popup__save-button_disabled:hover {
  background-color: transparent;
}