.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0 0 7px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:focus {
  outline: none;
}