.card__like-button {
  width: 22px;
  height: 19px;
  background: url(../../../images/heart.svg) center no-repeat;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-button:active {
  background: url(../../../images/black-heart.svg);
}