.profile__caption {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 10px 0 0 0;
  max-width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 730px) {
  .profile__caption {
    margin: 7px 0 32px 0;
  }
}

@media screen and (max-width: 500px) {
  .profile__caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 280px;
  }
}