.profile__avatar-wrapper {
  position: relative;
  margin-right: 30px;
  max-width: fit-content;
  height: 120px;
}

@media screen and (max-width: 730px) {
  .profile__avatar-wrapper {
    margin: 0;
  }
}