.popup__save-button {
  background-color: #000;
  width: 100%;
  padding: 15px 0;
  color: #FFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  transition: background-color 0.3s;
}

.popup__save-button:hover {
  background-color: #313131;
}