.image-popup__close-button {
  position: absolute;
  background: url(../../../images/close-icon.svg) center / contain no-repeat;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 560px) {
  .image-popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}